.footerContainer {
  padding: 25px 0px 25px 0px;
  justify-content: space-between;
  align-items: center;

  .footerSubtitle {
    font-weight: bold;
  }
  
  // .box__logo {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  .footer__options {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    .footer__options {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .box__logo {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .footerContainer {
    justify-content: center;
  }
}