.skillsContainer {
  padding: 80px 0px 210px 0px;
}

.skillsContainerTitle {
  margin: 0px 0px 80px;
}

.sectionTitle {
  font-weight: bold;
}

.skillsCard {
  padding: 80px 30px;
  flex: 0 0 calc(33.333% - 10.66px);
  
}

@media (max-width: 768px) {
    .skillsCard {
      flex: 0 0 calc(50% - 8px);  /* 2 por fila en tablets */
    }
  }
  
@media (max-width: 480px) {
  .skillsCard {
    flex: 0 0 100%;  /* 1 por fila en móviles */
  }
}

.cardImgContainer {
  height: 86px;
  width: fit-content;
}